.address {
    width: 100% !important;
    border: 2px solid #f0f0ff !important;
    padding: 5px 10px;
    height: 45px !important;
    color: #111 !important;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.react-mapbox-ac-menu {
    width: auto;
    position: absolute;
    z-index: 9999;
    background-color: #ffffff;
    border: 1px solid #deb925;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1.3rem;
  }
  .react-mapbox-ac-input{
    width: 100% !important;
    border: 2px solid #f0f0ff !important;
    padding: 5px 10px;
    margin-top: 15px;
    height: 45px !important;
    color: #111 !important;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

  }

  .react-mapbox-ac-input:focus{
    border: 2px solid #deb925 !important;
    box-shadow: none !important;
  }

  .react-mapbox-ac-input::placeholder {
    font: 14px sans-serif;
  }
   
  /* .react-mapbox-ac-suggestion {
    font-size: 18px;
    margin-bottom: .5rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  } */
   
  .react-mapbox-ac-suggestion:hover {
    background-color: #deb925;
  }